<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<div id="map-canvas"></div>
<ul id="locations"></ul>

<script>
  $(document).ready(function() {
    app.initialize();
  });
</script>