html, body, h3, h4, div, ul, li, img {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
}

ul {
  list-style: none;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

.group {
  display: block;
  content: '';
  clear: both;
}

#map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#loading {
  height: 100px;
  position: absolute;
  margin: auto;
  z-index: 1;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#locations {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
}

#locations > li {
  padding: 10px;
  background: #fff;
  opacity: 0.75;
}

.info > li {
  float: left;
}

.info > li > img {
  padding-right: 10px;
}