html, body, div, ul, li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
}

ul {
  list-style: none;
}

#map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#loading {
  height: 100px;
  position: absolute;
  margin: auto;
  z-index: 1;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#locations {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
}