html, body, h3, h4, div, ul, li, img, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
}

ul {
  list-style: none;
}

h3 {
  font-size: 22px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.group {
  display: block;
  content: '';
  clear: both;
}

#map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#loading {
  width: 200px;
  margin: 20px auto;
  z-index: 1;
  background: #fff;
  opacity: 0.75;
  color: #000;
  font-size: 18px;
  padding: 5px;
  display: block;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: 700;
}

#locations {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  margin: 0 5px 20px 0;
}

#locations > li {
  background: #fff;
  opacity: 0.75;
}

.event-link {
  color: #000;
  font-size: 18px;
  padding: 5px;
  display: block;
}

.event-link:hover {
  text-decoration: underline;
}

.info > li {
  float: left;
}

.info > li > img {
  padding-right: 10px;
}